h2{
    text-align: center;
}
table {
    width: 70%;
    border-collapse: collapse;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

th, td {
    border: 2px solid #333;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:hover {
    background-color: #ddd;
}