body{
    background-color: #bbb2ee;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 100vh;
}
h2{
    color:blue;
    text-align:center;
    margin-bottom:15px;
    text-transform: uppercase;
}

.registration input[type="text"],
.registration input[type="email"],
.registration input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.registration input[type="radio"],
.registration input[type="checkbox"] {
    margin-right: 5px;
    margin-top: 10px;
}

.registration{
    background-color:#ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 300px;
    color:rgb(59, 59, 185);
    padding: 20px;
}



#submit{
    background-color:rgb(106, 168, 240);
    width:100%;
    padding:10px;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
}

#submit:hover{
    background-color: cyan;
}